# Git
.git
.gitignore

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env
.pytest_cache/

# Databases
*.db
*.sqlite3

# OS metadata
.DS_Store
Thumbs.db

# Docker
docker-compose.yml
Dockerfile
.dockerignore

# Project specific
app/static/uploads/*
!app/static/uploads/.gitkeep
